.homeWrapperContainer{
    display: flex;
    flex-direction: row;
    width: 100%;
    flex: 1;
    height: 100vh;
}
.homeMainContainer{
    flex-basis: 80%;
}
.sidebarWrapperContainer{
    flex-basis: 20%;
    border: 2px solid black;
    background-color: #DDE5F3;
}