.homeWrapperContainer{
    display: flex;
    flex-direction: row;
    width: 100%;
    flex: 1;
}
.homeMainContainer{
    flex-basis: 80%;
}
.sidebarWrapperContainer{
    flex-basis: 20%;
    background-color: #DDE5F3;
}
.cardWrapperContainer{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 3rem;
    flex-wrap: wrap;
}

.feedContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 93.5%;
    font-size: 1.2rem;
    margin: auto;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.feedContainerWrapper{
    display: flex;
    flex-direction: row;
}

.sortContainer{
    display: flex;
    flex-direction: row;
    
}