.navbarMainContainer {
}

.navbarListContainer {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 2rem;
  list-style: none;
  align-items: center;
  font-size: 1.2rem;
}
.navbarListContainer li {
  cursor: pointer;
}
.navbarListContainer li:hover {
  color: #647dff;
}
.navbarLogo {
  font-size: 2.5rem;
}

.accountLogoContainer {
  margin-left: auto;
  margin-right: 2rem;
  height: 2rem;
  width: 2rem;
  background-color: #647dff;
  color: white;
  padding: 0.5rem;
  text-align: center;
  border-radius: 50%;
  cursor: pointer;
}